# ----------------------------
# DJANGO (Backend - Python)
# ----------------------------
__pycache__/
*.py[cod]
*.sqlite3
*.log
.env
*.pyc


# ----------------------------
# REACT (Frontend - Node)
# ----------------------------
node_modules/
.cache/
*.log
*.lock
.env.local

# ----------------------------
# SISTEMA Y EDITORES
# ----------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
